$black: #333333;
$grey: #666666;
$whitesmoke: #DDDDDD;
$white: #FFFFFF;

$pink: #E91E63;
$red: #FF5252;
$orange: #FF5722;
$yellow: #FFEB3B;

$green: #8BC34A;

$deep-blue: #31374C;
$indi: #3F51B5;
$blue: #03A9F4;
$light-blue: #0288D1;